version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: kasa-music-assistant_server_1
      APP_PORT: 8095

  server:
    image: ghcr.io/music-assistant/server:2.7.5
    restart: unless-stopped
    network_mode: host
    cap_add:
      - SYS_ADMIN
      - DAC_READ_SEARCH
    security_opt:
      - apparmor:unconfined
    environment:
      LOG_LEVEL: info
    volumes:
      - ${APP_DATA_DIR}/data:/data
      - ${APP_DATA_DIR}/media:/media
