version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: kasa-azuracast_web_1
      APP_PORT: 80

  web:
    image: ghcr.io/azuracast/azuracast:0.19.4
    init: true
    restart: on-failure
    stop_grace_period: 1m
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    environment:
      MYSQL_HOST: db
      MYSQL_PORT: "3306"
      MYSQL_DATABASE: azuracast
      MYSQL_USER: azuracast
      MYSQL_PASSWORD: "${APP_SEED}"
      REDIS_HOST: redis
      REDIS_PORT: "6379"
      AUTO_ASSIGN_PORT_MIN: "20000"
      AUTO_ASSIGN_PORT_MAX: "20050"
      ENABLE_REDIS: "true"
      INIT_BASE_URL: "http://${DEVICE_DOMAIN_NAME}:3004"
    volumes:
      - ${APP_DATA_DIR}/data/azuracast:/var/azuracast
    ports:
      - "20000-20050:20000-20050"

  db:
    image: mariadb:10.11
    restart: on-failure
    stop_grace_period: 1m
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW
    environment:
      MARIADB_ROOT_PASSWORD: "${APP_SEED}"
      MARIADB_DATABASE: azuracast
      MARIADB_USER: azuracast
      MARIADB_PASSWORD: "${APP_SEED}"
      MARIADB_AUTO_UPGRADE: "1"
    volumes:
      - ${APP_DATA_DIR}/data/db:/var/lib/mysql
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  redis:
    image: redis:7-alpine
    restart: on-failure
    stop_grace_period: 30s
    user: "1000:1000"
    volumes:
      - ${APP_DATA_DIR}/data/redis:/data
