version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: kasa-azuracast_web_1
      APP_PORT: 80

  web:
    image: ghcr.io/azuracast/azuracast:stable
    container_name: kasa-azuracast_web_1
    init: true
    restart: unless-stopped
    depends_on:
      db:
        condition: service_started
      redis:
        condition: service_started
    environment:
      # Fix zombie process reaping when tini is not PID 1
      TINI_SUBREAPER: "1"
      MYSQL_HOST: kasa-azuracast_db_1
      MYSQL_PORT: 3306
      MYSQL_DATABASE: azuracast
      MYSQL_USER: azuracast
      MYSQL_PASSWORD: "${APP_SEED}"
      REDIS_HOST: kasa-azuracast_redis_1
      REDIS_PORT: 6379
      AUTO_ASSIGN_PORT_MIN: "20000"
      AUTO_ASSIGN_PORT_MAX: "20050"
    volumes:
      - ${APP_DATA_DIR}/azuracast:/var/azuracast

  stations:
    image: ghcr.io/azuracast/azuracast:stable
    container_name: kasa-azuracast_stations_1
    init: true
    restart: unless-stopped
    depends_on:
      db:
        condition: service_started
      redis:
        condition: service_started
      web:
        condition: service_started
    ports:
      - "20000-20050:20000-20050"
    environment:
      # Fix zombie process reaping when tini is not PID 1
      TINI_SUBREAPER: "1"
      MYSQL_HOST: kasa-azuracast_db_1
      MYSQL_PORT: 3306
      MYSQL_DATABASE: azuracast
      MYSQL_USER: azuracast
      MYSQL_PASSWORD: "${APP_SEED}"
      REDIS_HOST: kasa-azuracast_redis_1
      REDIS_PORT: 6379
      AUTO_ASSIGN_PORT_MIN: "20000"
      AUTO_ASSIGN_PORT_MAX: "20050"
    volumes:
      - ${APP_DATA_DIR}/azuracast:/var/azuracast
    command: stations

  db:
    image: mariadb:10.11
    container_name: kasa-azuracast_db_1
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: "${APP_SEED}"
      MYSQL_DATABASE: azuracast
      MYSQL_USER: azuracast
      MYSQL_PASSWORD: "${APP_SEED}"
    volumes:
      - ${APP_DATA_DIR}/azuracast/db:/var/lib/mysql

  redis:
    image: redis:7-alpine
    container_name: kasa-azuracast_redis_1
    restart: unless-stopped
    volumes:
      - ${APP_DATA_DIR}/azuracast/redis:/data
