version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: kasa-azuracast_web_1
      APP_PORT: 80

  web:
    image: ghcr.io/azuracast/azuracast:rolling
    init: true
    restart: on-failure
    stop_grace_period: 2m
    environment:
      # Streaming port range
      AUTO_ASSIGN_PORT_MIN: "20000"
      AUTO_ASSIGN_PORT_MAX: "20050"
      # Initial URL for setup
      INIT_BASE_URL: "http://${DEVICE_DOMAIN_NAME}:3004"
      # Fix tini zombie process warning
      TINI_SUBREAPER: "1"
    volumes:
      # KRITISCH: Interne MariaDB-Datenbank
      - ${APP_DATA_DIR}/data/db:/var/lib/mysql
      # Stationsdaten und Backups
      - ${APP_DATA_DIR}/data/stations:/var/azuracast/stations
      - ${APP_DATA_DIR}/data/backups:/var/azuracast/backups
      # Storage-Verzeichnisse
      - ${APP_DATA_DIR}/data/uploads:/var/azuracast/storage/uploads
      - ${APP_DATA_DIR}/data/sftpgo:/var/azuracast/storage/sftpgo
      - ${APP_DATA_DIR}/data/geoip:/var/azuracast/storage/geoip
      - ${APP_DATA_DIR}/data/acme:/var/azuracast/storage/acme
    ports:
      - "20000-20050:20000-20050"
