version: "3.7"

services:
  app_proxy:
    environment:
      # Format: <app-id>_<docker-service-name>_1
      APP_HOST: kasa-paperless-gpt_server_1
      APP_PORT: 8080

  server:
    image: icereed/paperless-gpt:latest
    init: true
    restart: unless-stopped
    environment:
      PAPERLESS_BASE_URL: "http://paperless-ngx:8000"
      PAPERLESS_API_TOKEN: "CHANGE_ME"
      PAPERLESS_PUBLIC_URL: ""
      MANUAL_TAG: "paperless-gpt"
      AUTO_TAG: "paperless-gpt-auto"
      LLM_PROVIDER: "openai"
      LLM_MODEL: "gpt-4o"
      OPENAI_API_KEY: "CHANGE_ME"
    volumes:
      - ${APP_DATA_DIR}/paperless-gpt/prompts:/app/prompts
      - ${APP_DATA_DIR}/paperless-gpt/db:/app/db
