version: "3.7"

services:
  app_proxy:
    environment:
      # Format: <app-id>_<docker-service-name>_1
      APP_HOST: kasa-calcom_server_1
      APP_PORT: 3000

  server:
    image: ghcr.io/calcom/cal.com:latest
    init: true
    restart: unless-stopped
    depends_on:
      - db
      - redis
    environment:
      DATABASE_URL: "postgresql://calcom:${APP_SEED}@db:5432/calcom"
      DATABASE_DIRECT_URL: "postgresql://calcom:${APP_SEED}@db:5432/calcom"
      REDIS_URL: "redis://redis:6379"
      NEXTAUTH_URL: "http://${DEVICE_DOMAIN_NAME}:3002"
      NEXTAUTH_SECRET: "${APP_SEED}"
      CALENDSO_ENCRYPTION_KEY: "${APP_SEED}"
      NODE_ENV: "production"
    volumes:
      - ${APP_DATA_DIR}/calcom:/app/apps/web/.next/cache

  db:
    image: postgres:15-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: "calcom"
      POSTGRES_USER: "calcom"
      POSTGRES_PASSWORD: "${APP_SEED}"
    volumes:
      - ${APP_DATA_DIR}/db:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    volumes:
      - ${APP_DATA_DIR}/redis:/data
